.dashboard {
  > * {
    padding-inline: 50px;
  }

  .stat {
    overflow-y: auto;
    height: calc(100vh - $headerHeight - $dashboardHeaderHeight);
    padding-bottom: 50px;
    .stat-title {
      padding-block: 50px 20px;
      user-select: none;
      color: var(--acc-dark-gray);
      font-size: 1.6rem;
    }

    .VictoryContainer {
      height: unset !important;
      direction: ltr;
    }

    .sec-stat {
      display: flex;
      column-gap: 50px;
      flex-wrap: wrap;
      > * {
        flex-grow: 1;
        .stat-graph {
          background-color: var(--acc-bg);
          border-radius: 36px;
          box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.03);
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .VictoryContainer {
        max-width: 400px;
      }
    }

    .main-stat {
      .stat-wrapper {
      }
      .VictoryContainer {
        background-color: var(--acc-bg);
        border-radius: 36px;
        box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.03);
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .dashboard-header {
    height: $dashboardHeaderHeight;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px -5px rgb(0, 0, 0);
    position: relative;
    z-index: 1;
    .header-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .actions {
        display: flex;
        gap: 12px;
        justify-content: center;
        padding-block: 10px;
      }
    }
    .header-sub-details {
      font-weight: 700;
      color: var(--acc-dark-gray);
      opacity: 0.8;
    }
  }
}
