.main-header {
  background-color: var(--acc-light-gray);
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Secular One';
  margin-inline: 50px;
  .nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    > * {
      text-decoration: none;
      &.active {
        color: var(--acc-blue);
      }
    }
  }
  .logo {
    cursor: pointer;
  }

  .logged-section {
    display: flex;
    gap: 10px;
    align-items: center;
    > * {
      margin: 0;
    }
    .logout-opt {
      color: tomato;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
