.main-table {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  width: 1000px;
  .row {
    display: flex;
    border-bottom: 1px solid var(--acc-gray);
    justify-content: center;
    align-items: center;
    &.row-header {
      color: var(--acc-dark-gray);
      font-weight: 700;
    }
  }
}

.list-section-title {
  font-size: 1rem;
  user-select: none;
}
