.worker-shift-item {
  background-color: var(--acc-light-gray);
  font-weight: 700;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 12px 36px;
  border-radius: 4px;
  position: relative;
  user-select: none;
  &.over {
    background-color: var(--acc-yellow);
  }
  &.drag {
    opacity: 0.5;
  }
  .icons {
    display: flex;
    gap: 14px;
    color: var(--acc-dark-gray);
    cursor: auto;
    * {
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        color: var(--acc-blue);
      }
    }
    .selected {
      opacity: 1;
      color: var(--acc-blue);
    }
  }
}
