.worker-list {
  width: 100%;
  // padding: 20px 100px;
  color: var(--acc-dark-gray);

  .worker-list-title {
    font-size: 1.4rem;
    font-weight: 800;
  }
  .time-shifts-lists {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-block: 20px;
    justify-content: space-between;
    width: 100%;
    > * {
      display: flex;
      flex-direction: column;
      gap: 6px;
      flex: 1;
    }
    .list-section-title {
      margin-bottom: 10px;
    }
    .list-section-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
    }
  }
}
