.management-view {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 16px;
  height: 100vh;
  overflow: hidden;

  .management-items-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button.btn {
      margin: 0;
      color: var(--main-fg);
      border-color: var(--main-fg);
      transition: color 0.2s, background-color 0.2s;
      &:hover {
        color: var(--acc-blue);
        border-color: var(--acc-blue);
      }
    }

    .side-links {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: calc(100vh - $headerHeight);

      .management-item-link {
        text-decoration: none;
        padding: 16px 12px;
        display: flex;
        align-items: center;
        gap: 16px;
        padding-inline: 40px;
        box-shadow: inset -4px 0 0 0 transparent;
        color: var(--acc-dark-gray);
        opacity: 0.8;

        &:hover {
          opacity: 1;
          background-color: #e5e8f27c;
          // font-weight: 700;
        }

        &.active {
          opacity: 1;
          background-color: #e5e8f2;
          color: var(--acc-blue);
          font-weight: 700;
          box-shadow: inset -4px 0 0 0 var(--acc-blue);
        }
      }
      .add-btn {
        opacity: 0.5;
        &:hover {
          color: var(--acc-blue);
        }
      }
    }
  }

  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
    .side-links .management-item-link {
      justify-content: center;
      font-size: 1.1rem;
    }
    &.open {
      grid-template-columns: 0 1fr;
      gap: 0;
    }
  }
}

.schedules-management-view {
  .main-table {
    pointer-events: none;
  }
  .locked {
    outline: none;
  }
  .icon-lock {
    display: none;
  }
  .info {
    display: none !important;
  }
}
