.schedule-edit-view {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  // overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  height: calc(100vh - $headerHeight);
  padding-inline: 50px;

  .schedule-edit-header {
    display: flex;
    height: $dashboardHeaderHeight;
    min-height: $dashboardHeaderHeight;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .title {
      display: flex;
      gap: 16px;
      align-items: center;
      font-weight: 800;
      h2 {
        font-size: 1.8rem;
      }
      .rs-picker-toggle-value {
        font-size: 1.1rem;
        // font-weight: 800 !important;
        font-family: Rubik;
      }
      .rs-picker-toggle-caret {
        transform: scale(115%);
        transform-origin: center center;
      }
    }
    .actions {
      display: flex;
      gap: 12px;
      justify-content: center;
      align-items: center;
      padding-block: 10px;
    }
  }

  main {
    display: grid;
    grid-template-columns: minmax(100px, 350px) minmax(800px, 1fr);
    gap: 32px;
    width: 100%;
    .table-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-x: auto;
    }
  }

  @media screen and (max-width: 1200px) {
    // background-color: red;
    .schedule-edit-header {
      flex-direction: column;
      // align-items: flex-start;
      justify-content: center;
      height: $dashboardHeaderHeight + 16px;
      min-height: $dashboardHeaderHeight + 16px;
      .title {
        transform: scale(95%);
        transform-origin: center center;
      }
    }
    main {
      grid-template-columns: 1fr;
      .table-section {
        order: -1;
      }
    }
  }

  @media screen and (max-width: 750px) {
    padding-inline: 0;

    .schedule-edit-header {
      min-height: auto;
      height: auto;
      .title {
        gap: 6px;
        flex-direction: column;
        transform: scale(95%);
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        .rs-picker {
          margin-left: 42px;
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    main {
      width: 100vw;
      .table-section {
        width: 100vw;
      }
    }
  }
}
