.workers-shift-setup-view {
  // margin-inline: auto;
  display: flex;
  display: grid;
  grid-template-columns: 400px 1fr;
  margin-inline: 50px;
  .first-step {
    flex-grow: 2;
    // max-width: 400px;
    // margin-right: 50px;
    .worker-shift-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 3px 5px -5px rgb(168, 168, 168);
      position: relative;
      z-index: 1;
      height: $dashboardHeaderHeight;
      .title {
        padding: 16px 0;
      }
      .btns {
        display: flex;
        gap: 16px;
        .continue-btn {
          display: none;
        }
      }
    }
    .list-workers-shifts {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      overflow-y: scroll;
      height: calc(100vh - $headerHeight - $dashboardHeaderHeight);
      padding-block: 10px 20px;
    }
  }
  .next-step {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    margin-left: -50px;
    p {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
    .first-step .worker-shift-header {
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;
      align-items: flex-start;
      .title {
        // font-size: 1.8rem;
        // margin: 0;
        padding: 0;
      }
      .btns {
        width: 100%;
        justify-content: space-between;
        .continue-btn {
          display: block;
        }
      }
    }
    .next-step {
      display: none;
    }
  }
}
