.workers-shift-setup-view {
  max-width: 400px;
  margin-inline: auto;
  .worker-shift-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      padding: 16px 0;
    }
  }
  .list-workers-shifts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
}
