.workers-shift-setup-view {
  // margin-inline: auto;
  display: flex;
  .first-step {
    flex-grow: 2;
    max-width: 400px;
    margin-right: 50px;
    .worker-shift-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 3px 5px -5px rgb(168, 168, 168);
      position: relative;
      z-index: 1;
      height: $dashboardHeaderHeight;
      .title {
        padding: 16px 0;
      }
    }
    .list-workers-shifts {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      overflow-y: scroll;
      height: calc(100vh - $headerHeight - $dashboardHeaderHeight);
      padding-block: 10px 20px;
    }
  }
  .next-step {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
