// Colors

:root {
  --main-bg: #ffffff;
  --main-fg: #000000;
  --acc-blue: #3c82f6;
  --acc-yellow: #ffedd5;
  --acc-red: #fee2e2;
  --acc-orange: #ffb414;
  --acc-green: #00bf13;
  --acc-gray: #e5e7eb;
  --acc-light-gray: #f5f7fa;
  --acc-dark-gray: #6b7280;
  --acc-light-blue: #eff6ff;
}

// Breakpoints
$mobile-breakpoint: 988px;
$narrow-breakpoint: 1078px;
$normal-breakpoint: 1265px;

// sizes

//utils
$sitePadding: 36px;
