// Colors

:root {
  --main-bg: #f7f7f9;
  --acc-bg: #ffffff;
  --main-fg: #000000;
  --acc-blue: #3c82f6;
  --acc-yellow: #ffedd5;
  --acc-red: #fee2e2;
  --acc-orange: #ffb414;
  --acc-green: #00bf13;
  --acc-light-gray: #f5f7fa;
  --acc-gray: #e5e7eb;
  --acc-dark-gray: #6b7280;
  --acc-light-blue: #eff6ff;
}

// Breakpoints
$mobile-breakpoint: 988px;
$narrow-breakpoint: 1078px;
$normal-breakpoint: 1265px;

// sizes
$headerHeight: 60px;
$dashboardHeaderHeight: 100px;

//utils
$sitePadding: 36px;
